# Why we have .env as well as .env.example file?
# .env is your private notebook: It holds your actual secrets (like database passwords and API keys). It is hidden from GitHub (.gitignore) so no one else can see your private data.
# .env.example is the blank template: It lists only the names of the settings the app needs, with the values left blank or generic. It is safely shared on GitHub.
port = 8080
MONGODB_URI = mongodb+srv://devRishi:sqWy32g3NQKTx4mh@rishi07.adxm0vn.mongodb.net/eventBooking_fs?appName=Rishi07
EMAIL_USER = rishi70777@gmail.com
EMAIL_PASS = ewqr ivpi cdvw fhcw